.about-us-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);	
	grid-gap: 10px;
}

.about-us-section__item-1__title {
	text-shadow: 5px 5px 0px #a91b0d;
	color: white;
	font-size: 60px;
	font-weight: 400;
	padding-left: 20px;
	margin: 0;
}	

@media screen and (min-width: 426px) {
	.about-us-section__item-1 {
		grid-column: 1/4;
	}

	.about-us-section__item-2 {
		display: block;
		grid-column: 4/7;
	}

	.about-us-section p {
	margin-bottom: 20px;
	line-height: 1.5;
	font-size: 18px;
	}
}

@media screen and (max-width: 425px) {
	.about-us-section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		align-items: end;
		width: 100%;
	}	
}