.footer {
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat(3,1fr);
	justify-items: center;
	background: #4f4f4f;
	color: white;
}

.footer a {
	color: white;
	margin: 16px 0;
}

.footer section {
	margin: 16px 0;	
}

@media screen and (max-width: 425px) {
	.footer {
		grid-template-columns: 1fr;
		justify-content: center;
		text-align: center;
	}

}