.header {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	align-items: end;
	width: 100%;
	font-family: Futura, sans-serif;
}

.header__item-2 h1 {
	font-weight: normal;
	font-size: 18px;
}

.header li {
	list-style-type: none;
}


@media screen and (min-width: 426px) {
	.header__item-1 {
		grid-column: 1/2;
	}

	.header__item-2 {
		grid-column: 2/5;	
	}

	.header__item-3 {
		grid-column: 5/7;
	}	
}

@media screen and (max-width: 425px) {
	.header {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
		align-items: end;
		width: 100%;
	}	

	.header__item-2 h1 {
		margin: 0;
	}

}