.students-comment-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);	
	grid-gap: 10px;
	padding: 0 5px;
	align-items: center;
}

.students-comment-section__item-1__title mark {
	background-color: #a91b0d;
	color: white;
}

.students-comment-section__item-1__title {
	margin-top: 0;
	font-size: 60px;
	font-weight: 500;
	padding-left: 20px;
	margin-bottom: 0;
	line-height: 1;
	color: #a91b0d
}

@media screen and (min-width: 426px) {
	.students-comment-section__item-1 {
		grid-column: 1/4;
	}
	.students-comment-section__item-2__companies {
		grid-column: 1/7;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 425px) {
	.students-comment-section {
		display: grid;
		grid-template-columns: 90vw;
		grid-template-rows: auto;
		grid-gap: 10px;
		align-items: end;
		width: 100%;
	}	

.students-comment-section__item-1__title {
		font-size: 40px;
		font-weight: 500;
		padding-left: 20px;
		margin-bottom: 0;
		line-height: 1;
	}

	.students-comment-section img {
		width: 90vw;
	}
}