.thank-you-section {
	background: #ddd;
	color: white;
	display: grid;
	justify-content: center;
	justify-items: center;
	padding: 5% 10%;
	text-align: center;
	min-height: 60vh;
}

.thank-you-section h1,
.thank-you-section h2, 
.thank-you-section p {
	text-shadow: 1px 1px 1px gray;
}

.thank-you-section h1 {
	font-size: 60px;
}

.thank-you-section h2 {
	padding: 0 35%;
	font-size: 32px;
}

.thank-you-section p {
	font-size: 24px;
}


